# Time Series Data: 


It is the data set which tracks records over the time


Time-series analysis is the study of data points collected over time. It’s about identifying patterns, trends, and relationships in your data. It aims to predict future values based on past data and is a powerful tool for gaining meaningful insights and predictions from data collected over time.

- Financial Data(stocks data,bank data)
- nature based data (wether ,rainfall measurement data )
- ecommerce based data 
- covid data
- health related data (heart rate measurement)
 etc

# Types of operations done on time series data:

- Time Series Analysis
- Time Series forcasting using arima , ar model etc

# Terminology

- Timestamp
- Datetime index
- time delta
- date range

# How to get timestamp object from pandas functions: to_datetime

# or we can use pd.to_datetime  that is used to convert string to datetime object

In [198]:
import pandas as pd

In [199]:
pd.to_datetime("13-may-2024 9:45")

Timestamp('2024-05-13 09:45:00')

# or generate the timestamp explicitely

In [163]:
pd.Timestamp("2023-4-12")

Timestamp('2023-04-12 00:00:00')

In [165]:
pd.Timestamp("2024-may-16")

Timestamp('2024-05-16 00:00:00')

In [166]:
pd.Timestamp("16-05-2024")

C:\Users\acer\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3106: UserWarning: Parsing '16-05-2024' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2024-05-16 00:00:00')

In [168]:
pd.Timestamp("05-16-2024")

Timestamp('2024-05-16 00:00:00')

In [169]:
pd.Timestamp("05/16/2024")

Timestamp('2024-05-16 00:00:00')

In [200]:
pd.Timestamp("05162024")

ValueError: could not convert string to Timestamp

In [205]:
pd.to_datetime("05162024",errors="coerce")

NaT

In [207]:
date=pd.to_datetime("2023-4-12  4:56 pm")
date

Timestamp('2023-04-12 16:56:00')

In [208]:
date.month

4

In [209]:
date.year

2023

In [210]:
date.day

12

In [212]:
date.hour

16

In [213]:
pd.to_datetime("2023 8 12 4:56")

Timestamp('2023-08-12 04:56:00')

In [214]:
pd.to_datetime("202356")

ParserError: month must be in 1..12: 202356

In [215]:
pd.to_datetime("20230506")

Timestamp('2023-05-06 00:00:00')

In [216]:
pd.to_datetime("2023506",errors="coerce")

NaT

In [126]:
# nat : means not a time

## pd.to_datetime converts series of strings to timestamp but standalone timestamp not

In [217]:
pd.Timestamp(["2023-4-12  4:56 pm","2013-6-13 4:23 pm"])

TypeError: Cannot convert input [['2023-4-12  4:56 pm', '2013-6-13 4:23 pm']] of type <class 'list'> to Timestamp

In [218]:
pd.to_datetime(["2023-4-12  4:56 pm","2013-6-13 4:23 pm"])

DatetimeIndex(['2023-04-12 16:56:00', '2013-06-13 16:23:00'], dtype='datetime64[ns]', freq=None)

# Datetime index : is the collections of timestamps

## Creation of Datetime index object standalone from pandas functions

In [219]:
pd.DatetimeIndex(["2023-4-12","2023-4-23"])

DatetimeIndex(['2023-04-12', '2023-04-23'], dtype='datetime64[ns]', freq=None)

# here datetime64[ns] is the dtype that numpy array defines

In [61]:
x=pd.DatetimeIndex([pd.Timestamp("2023-6-7"),pd.Timestamp("2023-9-8")])
x

DatetimeIndex(['2023-06-07', '2023-09-08'], dtype='datetime64[ns]', freq=None)

## create a dates in specifies interval using date_range

In [220]:
pd.date_range(start="2024-5-20",end="2024-6-20") # by default frequency is days

DatetimeIndex(['2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23',
               '2024-05-24', '2024-05-25', '2024-05-26', '2024-05-27',
               '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04',
               '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08',
               '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12',
               '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16',
               '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20'],
              dtype='datetime64[ns]', freq='D')

In [221]:
pd.date_range(start="2024-5-20",end="2024-6-20",freq="2D") # by default frequency is days

DatetimeIndex(['2024-05-20', '2024-05-22', '2024-05-24', '2024-05-26',
               '2024-05-28', '2024-05-30', '2024-06-01', '2024-06-03',
               '2024-06-05', '2024-06-07', '2024-06-09', '2024-06-11',
               '2024-06-13', '2024-06-15', '2024-06-17', '2024-06-19'],
              dtype='datetime64[ns]', freq='2D')

# fetching the dates of business days monday to friday

In [223]:
pd.date_range(start="2024-5-20",end="2024-6-20",freq="B")

DatetimeIndex(['2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23',
               '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29',
               '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04',
               '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-10',
               '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14',
               '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20'],
              dtype='datetime64[ns]', freq='B')

In [225]:
pd.date_range(start="2024-05-18",end="2024-6-20",freq="W")

DatetimeIndex(['2024-05-19', '2024-05-26', '2024-06-02', '2024-06-09',
               '2024-06-16'],
              dtype='datetime64[ns]', freq='W-SUN')

In [227]:
pd.date_range(start="2024-05-18",end="2024-6-20",freq="2W")

DatetimeIndex(['2024-05-19', '2024-06-02', '2024-06-16'], dtype='datetime64[ns]', freq='2W-SUN')

In [228]:
pd.date_range(start="2024-05-18",end="2024-6-20",freq="W-THU") # customized week

DatetimeIndex(['2024-05-23', '2024-05-30', '2024-06-06', '2024-06-13',
               '2024-06-20'],
              dtype='datetime64[ns]', freq='W-THU')

In [229]:
pd.date_range(start="2024-05-18",end="2024-4-20",freq="W-THU") # customized week

DatetimeIndex([], dtype='datetime64[ns]', freq='W-THU')

In [230]:
pd.date_range(start="2024-05-20",end="2024-05-21",freq="H")

DatetimeIndex(['2024-05-20 00:00:00', '2024-05-20 01:00:00',
               '2024-05-20 02:00:00', '2024-05-20 03:00:00',
               '2024-05-20 04:00:00', '2024-05-20 05:00:00',
               '2024-05-20 06:00:00', '2024-05-20 07:00:00',
               '2024-05-20 08:00:00', '2024-05-20 09:00:00',
               '2024-05-20 10:00:00', '2024-05-20 11:00:00',
               '2024-05-20 12:00:00', '2024-05-20 13:00:00',
               '2024-05-20 14:00:00', '2024-05-20 15:00:00',
               '2024-05-20 16:00:00', '2024-05-20 17:00:00',
               '2024-05-20 18:00:00', '2024-05-20 19:00:00',
               '2024-05-20 20:00:00', '2024-05-20 21:00:00',
               '2024-05-20 22:00:00', '2024-05-20 23:00:00',
               '2024-05-21 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [231]:
pd.date_range(start="2024-05-20",end="2024-05-21",freq="3H")

DatetimeIndex(['2024-05-20 00:00:00', '2024-05-20 03:00:00',
               '2024-05-20 06:00:00', '2024-05-20 09:00:00',
               '2024-05-20 12:00:00', '2024-05-20 15:00:00',
               '2024-05-20 18:00:00', '2024-05-20 21:00:00',
               '2024-05-21 00:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [232]:
pd.date_range(start="2024/5/20",end="2026/5/20",freq='y')

DatetimeIndex(['2024-12-31', '2025-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [234]:
pd.date_range(start="2024/5/20",end="2026/5/20",freq='A-SEP')

DatetimeIndex(['2024-09-30', '2025-09-30'], dtype='datetime64[ns]', freq='A-SEP')

# ARITHEMETIC OPRATIONS

# TIME DELTA

In [235]:
t1=pd.Timestamp("2024-05-20")
t2=pd.Timestamp("2024-05-25")

In [236]:
t2-t1

Timedelta('5 days 00:00:00')

In [237]:
t1=pd.Timestamp("2024-05-20 9:30 am")
t2=pd.Timestamp("2024-1-26 7:35 pm")

In [239]:
t1-t2

Timedelta('114 days 13:55:00')

# creation of time delta standalone

In [240]:
pd.Timedelta("2 days")

Timedelta('2 days 00:00:00')

In [241]:
pd.date_range(start="2024/4/1",end="2024/5/1",freq='D')+pd.Timedelta("2 days")

DatetimeIndex(['2024-04-03', '2024-04-04', '2024-04-05', '2024-04-06',
               '2024-04-07', '2024-04-08', '2024-04-09', '2024-04-10',
               '2024-04-11', '2024-04-12', '2024-04-13', '2024-04-14',
               '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18',
               '2024-04-19', '2024-04-20', '2024-04-21', '2024-04-22',
               '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26',
               '2024-04-27', '2024-04-28', '2024-04-29', '2024-04-30',
               '2024-05-01', '2024-05-02', '2024-05-03'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start="2024/05/13",end="2024/06/13",freq='D')+pd.Timedelta(days=3,hours=10,minutes=30)

DatetimeIndex(['2024-05-16 10:30:00', '2024-05-17 10:30:00',
               '2024-05-18 10:30:00', '2024-05-19 10:30:00',
               '2024-05-20 10:30:00', '2024-05-21 10:30:00',
               '2024-05-22 10:30:00', '2024-05-23 10:30:00',
               '2024-05-24 10:30:00', '2024-05-25 10:30:00',
               '2024-05-26 10:30:00', '2024-05-27 10:30:00',
               '2024-05-28 10:30:00', '2024-05-29 10:30:00',
               '2024-05-30 10:30:00', '2024-05-31 10:30:00',
               '2024-06-01 10:30:00', '2024-06-02 10:30:00',
               '2024-06-03 10:30:00', '2024-06-04 10:30:00',
               '2024-06-05 10:30:00', '2024-06-06 10:30:00',
               '2024-06-07 10:30:00', '2024-06-08 10:30:00',
               '2024-06-09 10:30:00', '2024-06-10 10:30:00',
               '2024-06-11 10:30:00', '2024-06-12 10:30:00',
               '2024-06-13 10:30:00', '2024-06-14 10:30:00',
               '2024-06-15 10:30:00', '2024-06-16 10:30:00'],
              dtype='datetime64[ns]', freq='D')

## WORKING ON DATA

In [179]:
data = {'name': ['Rutuja', 'Neeraj',
                     'Renna', 'Pratik',"hema","kartik"],
            'age': [20, 19, 22, 21,22,23],
            'favorite_color': ['blue', 'red',
                               'yellow', "green","black","orange"],
            'grade': [88, 92, 95, 70,100,122],
            'birth_date': ['01-jan-2000', '8/05/1997',    ## different formats of date
                           'April/28/1996', '12-16-1995',"2023-06-13 10:30:45","0912021"]}
df1=pd.DataFrame(data)
df1

     name  age favorite_color  grade           birth_date
0  Rutuja   20           blue     88          01-jan-2000
1  Neeraj   19            red     92            8/05/1997
2   Renna   22         yellow     95        April/28/1996
3  Pratik   21          green     70           12-16-1995
4    hema   22          black    100  2023-06-13 10:30:45
5  kartik   23         orange    122              0912021

In [180]:
df1.dtypes

name              object
age                int64
favorite_color    object
grade              int64
birth_date        object
dtype: object

In [181]:
pd.to_datetime(df1["birth_date"])

ParserError: year 912021 is out of range: 0912021

In [182]:
df1["date"]=pd.to_datetime(df1["birth_date"],errors="coerce")

In [183]:
df1

     name  age favorite_color  grade           birth_date                date
0  Rutuja   20           blue     88          01-jan-2000 2000-01-01 00:00:00
1  Neeraj   19            red     92            8/05/1997 1997-08-05 00:00:00
2   Renna   22         yellow     95        April/28/1996 1996-04-28 00:00:00
3  Pratik   21          green     70           12-16-1995 1995-12-16 00:00:00
4    hema   22          black    100  2023-06-13 10:30:45 2023-06-13 10:30:45
5  kartik   23         orange    122              0912021                 NaT

## DATA

In [243]:
df=pd.read_excel("D:/python_datascience/data sets/examples/catalog.xlsx")
df.head(2)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,2007-02-03 00:00:00,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...

In [244]:
df.shape

(1693, 23)

In [245]:
df.columns

Index(['id', 'date', 'time', 'continent_code', 'country_name', 'country_code',
       'state/province', 'population', 'city/town', 'distance',
       'location_description', 'latitude', 'longitude', 'geolocation',
       'hazard_type', 'landslide_type', 'landslide_size', 'trigger',
       'storm_name', 'injuries', 'fatalities', 'source_name', 'source_link'],
      dtype='object')

In [248]:
for i in df.columns:
    if df[i].isnull().sum()>0:
        print(i,"---------------------------",df[i].isnull().sum()*100/df.shape[0],"%")

date --------------------------- 0.1772002362669817 %
time --------------------------- 62.847017129356175 %
continent_code --------------------------- 90.31305375073833 %
state/province --------------------------- 0.05906674542232723 %
city/town --------------------------- 0.23626698168930893 %
distance --------------------------- 0.05906674542232723 %
location_description --------------------------- 67.4542232722977 %
latitude --------------------------- 0.05906674542232723 %
longitude --------------------------- 0.05906674542232723 %
geolocation --------------------------- 0.05906674542232723 %
landslide_type --------------------------- 0.05906674542232723 %
landslide_size --------------------------- 0.05906674542232723 %
trigger --------------------------- 0.11813349084465447 %
storm_name --------------------------- 92.2031896042528 %
injuries --------------------------- 69.58062610750147 %
fatalities --------------------------- 14.589486119314826 %
source_name --------------------------- 48.49379799173066 %
source_link --------------------------- 5.906674542232723 %

In [249]:
for i in df.columns:
    if df[i].isnull().sum()*100/df.shape[0]>50:
        df.drop(columns=[i],inplace=True)

In [250]:
df.shape

(1693, 18)

In [251]:
for i in df.columns:
    if df[i].isnull().sum()>0:
        if df[i].dtype=="object":
            df[i]=df[i].fillna(df[i].mode()[0])
        else:
            df[i]=df[i].fillna(df[i].median())

In [252]:
df.isnull().sum().sum()

0

In [253]:
df.head(2)

,id,date,country_name,country_code,state/province,population,city/town,distance,latitude,longitude,geolocation,hazard_type,landslide_type,landslide_size,trigger,fatalities,source_name,source_link
0,34,2007-02-03 00:00:00,United States,US,Virginia,16000,Cherry Hill,3.40765,38.6009,-77.2682,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,0.0,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,United States,US,Ohio,17288,New Philadelphia,3.33522,40.5175,-81.4305,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,0.0,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...

In [254]:
df.columns

Index(['id', 'date', 'country_name', 'country_code', 'state/province',
       'population', 'city/town', 'distance', 'latitude', 'longitude',
       'geolocation', 'hazard_type', 'landslide_type', 'landslide_size',
       'trigger', 'fatalities', 'source_name', 'source_link'],
      dtype='object')

In [255]:
df.drop(columns=["id","country_code","latitude",'longitude','geolocation','fatalities', 'source_name', 'source_link'],inplace=True)

In [257]:
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger
0,2007-02-03 00:00:00,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain
1,3/22/07,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain

In [258]:
df.dtypes

date               object
country_name       object
state/province     object
population          int64
city/town          object
distance          float64
hazard_type        object
landslide_type     object
landslide_size     object
trigger            object
dtype: object

In [260]:
df["date"]=pd.to_datetime(df["date"])

In [261]:
df.dtypes

date              datetime64[ns]
country_name              object
state/province            object
population                 int64
city/town                 object
distance                 float64
hazard_type               object
landslide_type            object
landslide_size            object
trigger                   object
dtype: object

# extract the month

In [262]:
from datetime import datetime as dt

## extarct the month number

In [263]:
df["month"]=df.date.dt.month

In [264]:
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3

## extract month name

In [265]:
df["month_name"]=df.date.dt.month_name()

In [266]:
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March

## extract year

In [267]:
df["year"]=df.date.dt.year
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007

# extract day

In [268]:
df["day"]=df.date.dt.day
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22

## extract day of week

In [269]:
df["dayofweek"]=df.date.dt.dayofweek
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3,5
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22,3

## extract day name  of week

In [271]:
df["day_name"]=df.date.dt.day_name()
df.sample(5)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name
1585,2015-07-10,Mexico,Tabasco,1042,Libertad,4.81680,Landslide,Landslide,Medium,Rain,7,July,2015,10,4,Friday
604,2011-09-03,United States,West Virginia,1036,Bethany,1.92763,Landslide,Landslide,Medium,Downpour,9,September,2011,3,5,Saturday
296,2010-12-04,Dominica,Saint Patrick,2608,Berekua,2.08997,Landslide,Landslide,Medium,Downpour,12,December,2010,4,5,Saturday
814,2011-01-09,United States,New York,10082,Inwood,1.91324,Landslide,Mudslide,Small,Rain,1,January,2011,9,6,Sunday
1027,2013-08-07,United States,New Mexico,1770,Questa,21.76837,Landslide,Mudslide,Medium,Downpour,8,August,2013,7,2,Wednesday

In [272]:
df["month_name"].value_counts()

April        190
July         180
May          163
September    158
December     148
March        142
June         142
August       139
November     126
October      118
January       96
February      91
Name: month_name, dtype: int64

In [275]:
df.groupby(["country_name"])["month_name"].value_counts().to_frame()

                         month_name
country_name month_name
Barbados     October              1
Belize       November             1
Bermuda      February             1
             January              1
Brazil       June                 2
...                             ...
Venezuela    November            15
             March                2
             July                 1
             June                 1
             September            1

[199 rows x 1 columns]

In [276]:
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3,5,Saturday
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22,3,Thursday

In [277]:
df["weekend/weekday"]=df["day_name"].apply(lambda x: "weekend" if ((x=="Saturday") | (x=="Sunday")) else "weekday")

In [278]:
df.sample(4)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday
709,2011-05-13,United States,Pennsylvania,3450,Masontown,5.82547,Landslide,Mudslide,Small,Downpour,5,May,2011,13,4,Friday,weekday
1511,2015-04-17,Canada,Nova Scotia,2052,Digby,11.62624,Landslide,Landslide,Medium,Unknown,4,April,2015,17,4,Friday,weekday
1683,2016-02-27,United States,Idaho,485,Idaho City,24.16064,Landslide,Rockfall,Small,Rain,2,February,2016,27,5,Saturday,weekend
957,2013-04-26,Trinidad and Tobago,Tobago,17000,Scarborough,6.35974,Landslide,Landslide,Large,Rain,4,April,2013,26,4,Friday,weekday

# weekof year

In [279]:
df["weekofyear"]=df.date.dt.weekofyear

C:\Users\acer\AppData\Local\Temp\ipykernel_3140\3500945539.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df["weekofyear"]=df.date.dt.weekofyear

In [280]:
df.head(2)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday,weekofyear
0,2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3,5,Saturday,weekend,5
1,2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22,3,Thursday,weekday,12

# extract quarter

In [281]:
df["quarter"]=df.date.dt.quarter

In [282]:
df.sample(5)

,date,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday,weekofyear,quarter
124,2008-04-08,United States,New Mexico,1788,Jemez Pueblo,12.68493,Landslide,Mudslide,Small,Rain,4,April,2008,8,1,Tuesday,weekday,15,2
138,2008-08-26,Haiti,Sud-Est,137966,Jacmel,4.41574,Landslide,Landslide,Medium,Tropical cyclone,8,August,2008,26,1,Tuesday,weekday,35,3
1006,2013-01-07,United States,North Carolina,1655,Hazelwood,11.16865,Landslide,Landslide,Small,Downpour,1,January,2013,7,0,Monday,weekday,2,1
327,2010-03-05,United States,Kentucky,777,Hindman,10.50499,Landslide,Mudslide,Small,Downpour,3,March,2010,5,4,Friday,weekday,9,1
1555,2015-08-15,United States,Colorado,416427,Colorado Springs,3.81487,Landslide,Landslide,Small,Rain,8,August,2015,15,5,Saturday,weekend,33,3

In [122]:
df.sample(4)

,date,country_name,state/province,population,city/town,hazard_type,landslide_type,month,year,day,dayofweek,day_name,month_name,weekofyear,quarter,semester,weekday/weekend
1167,2013-09-30,United States,Massachusetts,19030,Southbridge,Landslide,Landslide,9,2013,30,0,Monday,September,40,3,2nd semester,weekdays
1335,2014-08-13,United States,Idaho,485,Idaho City,Landslide,Mudslide,8,2014,13,2,Wednesday,August,33,3,2nd semester,weekdays
480,2010-10-17,Haiti,Ouest,134190,LÃ©ogÃ¢ne,Landslide,Complex,10,2010,17,6,Sunday,October,41,4,2nd semester,weekend
640,2011-04-14,United States,Pennsylvania,1929,West Homestead,Landslide,Mudslide,4,2011,14,3,Thursday,April,15,2,1 st semester,weekdays

In [284]:
df["date"].min()

Timestamp('2007-01-06 00:00:00')

## last lanslide day  of each month

In [285]:
df["date"].max()
df.groupby("month")["date"].max()  ## month wise last working days

month
1    2016-01-29
2    2016-02-27
3    2015-03-21
4    2015-04-29
5    2015-05-31
6    2015-06-30
7    2015-07-27
8    2015-08-31
9    2015-09-28
10   2015-10-29
11   2015-11-29
12   2015-12-21
Name: date, dtype: datetime64[ns]

## fetch the oldest date in data set

In [126]:
df["date"].min()

Timestamp('2007-01-06 00:00:00')

In [127]:
df["date"].max()

Timestamp('2016-02-27 00:00:00')

# make date as index that makes operations efficient

In [128]:
df.columns

Index(['date', 'country_name', 'state/province', 'population', 'city/town',
       'hazard_type', 'landslide_type', 'month', 'year', 'day', 'dayofweek',
       'day_name', 'month_name', 'weekofyear', 'quarter', 'semester',
       'weekday/weekend'],
      dtype='object')

In [286]:
df.set_index("date",inplace=True)

In [130]:
df.head(2)

,country_name,state/province,population,city/town,hazard_type,landslide_type,month,year,day,dayofweek,day_name,month_name,weekofyear,quarter,semester,weekday/weekend
date,,,,,,,,,,,,,,,,
2007-02-03,United States,Virginia,16000,Cherry Hill,Landslide,Landslide,2,2007,3,5,Saturday,February,5,1,1 st semester,weekend
2007-03-22,United States,Ohio,17288,New Philadelphia,Landslide,Landslide,3,2007,22,3,Thursday,March,12,1,1 st semester,weekdays

In [287]:
df.loc["2007-03-22"]

country_name          United States
state/province                 Ohio
population                    17288
city/town          New Philadelphia
distance                    3.33522
hazard_type               Landslide
landslide_type            Landslide
landslide_size                Small
trigger                        Rain
month                             3
month_name                    March
year                           2007
day                              22
dayofweek                         3
day_name                   Thursday
weekend/weekday             weekday
weekofyear                       12
quarter                           1
Name: 2007-03-22 00:00:00, dtype: object

In [131]:
df.index

DatetimeIndex(['2007-02-03', '2007-03-22', '2007-06-04', '2007-04-14',
               '2007-04-15', '2007-04-20', '2007-04-24', '2007-05-21',
               '2007-06-27', '2007-06-27',
               ...
               '2016-02-27', '2016-02-14', '2016-02-26', '2016-02-27',
               '2015-11-29', '2015-07-12', '2016-02-22', '2016-02-23',
               '2016-02-26', '2016-02-03'],
              dtype='datetime64[ns]', name='date', length=1693, freq=None)

# detail of landslide of particular date

In [132]:
df.loc["2016-02-26"]

,country_name,state/province,population,city/town,hazard_type,landslide_type,month,year,day,dayofweek,day_name,month_name,weekofyear,quarter,semester,weekday/weekend
date,,,,,,,,,,,,,,,,
2016-02-26,United States,Tennessee,2020,Jacksboro,Landslide,Rockfall,2,2016,26,4,Friday,February,8,1,1 st semester,weekdays
2016-02-26,United States,West Virginia,1048,Athens,Landslide,Rockfall,2,2016,26,4,Friday,February,8,1,1 st semester,weekdays

In [288]:
df.loc["2007-02-03":"2007-05-03"]

,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday,weekofyear,quarter
date,,,,,,,,,,,,,,,,,,
2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3,5,Saturday,weekend,5,1
2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22,3,Thursday,weekday,12,1
2007-04-14,Canada,Quebec,42786,ChÃ¢teauguay,2.98682,Landslide,Riverbank collapse,Small,Rain,4,April,2007,14,5,Saturday,weekend,15,2
2007-04-15,United States,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour,4,April,2007,15,6,Sunday,weekend,15,2
2007-04-20,United States,Kentucky,6903,Pikeville,0.23715,Landslide,Landslide,Small,Rain,4,April,2007,20,4,Friday,weekday,16,2
2007-04-24,United States,South Dakota,2540,Dakota Dunes,2.48033,Landslide,Landslide,Small,Rain,4,April,2007,24,1,Tuesday,weekday,17,2
2007-04-07,Mexico,Veracruz-Llave,1947,Laguna Chica (Pueblo Nuevo),9.51003,Landslide,Landslide,Medium,Rain,4,April,2007,7,5,Saturday,weekend,14,2
2007-02-09,Mexico,Sinaloa,3191,El LimÃ³n de los Ramos,10.88351,Landslide,Complex,Medium,Tropical cyclone,2,February,2007,9,4,Friday,weekday,6,1
2007-03-09,United States,New Mexico,1788,Jemez Pueblo,12.89915,Landslide,Mudslide,Medium,Rain,3,March,2007,9,4,Friday,weekday,10,1
2007-04-09,Nicaragua,AtlÃ¡ntico Norte,6315,Bonanza,54.90196,Landslide,Complex,Medium,Tropical cyclone,4,April,2007,9,0,Monday,weekday,15,2
2007-04-11,Mexico,Chiapas,3183,OstuacÃ¡n,3.74149,Landslide,Mudslide,Very_large,Rain,4,April,2007,11,2,Wednesday,weekday,15,2
2007-04-13,United States,Pennsylvania,3165,Homestead,3.74490,Landslide,Landslide,Medium,Unknown,4,April,2007,13,4,Friday,weekday,15,2

In [134]:
df.loc["2007-02-03":"2007-05-03":2]

,country_name,state/province,population,city/town,hazard_type,landslide_type,month,year,day,dayofweek,day_name,month_name,weekofyear,quarter,semester,weekday/weekend
date,,,,,,,,,,,,,,,,
2007-02-03,United States,Virginia,16000,Cherry Hill,Landslide,Landslide,2,2007,3,5,Saturday,February,5,1,1 st semester,weekend
2007-04-14,Canada,Quebec,42786,ChÃ¢teauguay,Landslide,Riverbank collapse,4,2007,14,5,Saturday,April,15,2,1 st semester,weekend
2007-04-20,United States,Kentucky,6903,Pikeville,Landslide,Landslide,4,2007,20,4,Friday,April,16,2,1 st semester,weekdays
2007-04-07,Mexico,Veracruz-Llave,1947,Laguna Chica (Pueblo Nuevo),Landslide,Landslide,4,2007,7,5,Saturday,April,14,2,1 st semester,weekend
2007-03-09,United States,New Mexico,1788,Jemez Pueblo,Landslide,Mudslide,3,2007,9,4,Friday,March,10,1,1 st semester,weekdays
2007-04-11,Mexico,Chiapas,3183,OstuacÃ¡n,Landslide,Mudslide,4,2007,11,2,Wednesday,April,15,2,1 st semester,weekdays

In [237]:
## fetching the data of 2007 only

In [289]:
df.loc["2007"]

,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday,weekofyear,quarter
date,,,,,,,,,,,,,,,,,,
2007-02-03,United States,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2,February,2007,3,5,Saturday,weekend,5,1
2007-03-22,United States,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,3,March,2007,22,3,Thursday,weekday,12,1
2007-06-04,United States,Pennsylvania,15930,Wilkinsburg,2.91977,Landslide,Landslide,Small,Rain,6,June,2007,4,0,Monday,weekday,23,2
2007-04-14,Canada,Quebec,42786,ChÃ¢teauguay,2.98682,Landslide,Riverbank collapse,Small,Rain,4,April,2007,14,5,Saturday,weekend,15,2
2007-04-15,United States,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour,4,April,2007,15,6,Sunday,weekend,15,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-12,Puerto Rico,San Juan,418140,San Juan,6.91777,Landslide,Landslide,Medium,Tropical cyclone,12,December,2007,12,2,Wednesday,weekday,50,4
2007-12-16,United States,Pennsylvania,3174,Trafford,0.27058,Landslide,Landslide,Medium,Rain,12,December,2007,16,6,Sunday,weekend,50,4
2007-12-19,Colombia,Tolima,4892,Ambalema,6.96130,Landslide,Landslide,Large,Rain,12,December,2007,19,2,Wednesday,weekday,51,4
2007-01-06,United States,Colorado,1864,Granby,5.53226,Landslide,Landslide,Medium,Unknown,1,January,2007,6,5,Saturday,weekend,1,1
2007-04-13,United States,Pennsylvania,3165,Homestead,3.74490,Landslide,Landslide,Medium,Unknown,4,April,2007,13,4,Friday,weekday,15,2

In [240]:
 ## fetching the data of 2012 of specific month and year

In [290]:
df.loc["2007 12"]

,country_name,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,month,month_name,year,day,dayofweek,day_name,weekend/weekday,weekofyear,quarter
date,,,,,,,,,,,,,,,,,,
2007-12-10,Haiti,Ouest,3951,Cabaret,0.51272,Landslide,Complex,Large,Rain,12,December,2007,10,0,Monday,weekday,50,4
2007-12-10,Jamaica,St. Elizabeth,1371,Maggotty,4.57363,Landslide,Complex,Medium,Rain,12,December,2007,10,0,Monday,weekday,50,4
2007-12-11,Jamaica,Saint Ann,13671,Saint AnnÐ½ÑžÐ´â€°ÐµÐ´â€¹Ñžs Bay,3.96533,Landslide,Landslide,Medium,Rain,12,December,2007,11,1,Tuesday,weekday,50,4
2007-12-12,Puerto Rico,San Juan,418140,San Juan,6.91777,Landslide,Landslide,Medium,Tropical cyclone,12,December,2007,12,2,Wednesday,weekday,50,4
2007-12-16,United States,Pennsylvania,3174,Trafford,0.27058,Landslide,Landslide,Medium,Rain,12,December,2007,16,6,Sunday,weekend,50,4
2007-12-19,Colombia,Tolima,4892,Ambalema,6.96130,Landslide,Landslide,Large,Rain,12,December,2007,19,2,Wednesday,weekday,51,4

In [291]:
### current date
import datetime as dt
today=dt.date.today()
today

datetime.date(2024, 5, 20)

In [293]:
from datetime import datetime as dt

In [294]:
dt.today()

datetime.datetime(2024, 5, 20, 15, 58, 35, 878026)

In [249]:
df.columns

Index(['id', 'country_name', 'country_code', 'state/province', 'population',
       'city/town', 'distance', 'location_description', 'hazard_type',
       'landslide_type', 'landslide_size', 'year', 'month', 'month_n',
       'month_name', 'day', 'day_name', 'd_week', 'week_no', 'weekday/weekend',
       'quarter', 'd_t'],
      dtype='object')

In [295]:
dt.today()-df.index

TimedeltaIndex(['6316 days 15:59:48.894842', '6269 days 15:59:48.894842',
                '6195 days 15:59:48.894842', '6246 days 15:59:48.894842',
                '6245 days 15:59:48.894842', '6240 days 15:59:48.894842',
                '6236 days 15:59:48.894842', '6209 days 15:59:48.894842',
                '6172 days 15:59:48.894842', '6172 days 15:59:48.894842',
                ...
                '3005 days 15:59:48.894842', '3018 days 15:59:48.894842',
                '3006 days 15:59:48.894842', '3005 days 15:59:48.894842',
                '3095 days 15:59:48.894842', '3235 days 15:59:48.894842',
                '3010 days 15:59:48.894842', '3009 days 15:59:48.894842',
                '3006 days 15:59:48.894842', '3029 days 15:59:48.894842'],
               dtype='timedelta64[ns]', name='date', length=1693, freq=None)

## FIND THE LAST 7 date from today

In [297]:
### current date
import datetime as dt
today=dt.date.today()
today

datetime.date(2024, 5, 20)

In [298]:
l_7d=today-dt.timedelta(days=7)
l_7d

datetime.date(2024, 5, 13)

In [148]:
## getting current date and time
from datetime import datetime as dt
dt.now()

datetime.datetime(2024, 5, 13, 10, 56, 54, 783890)

## or

In [149]:
dt.today()

datetime.datetime(2024, 5, 13, 10, 56, 59, 56973)

In [33]:
dt.fromtimestamp(1630)

datetime.datetime(1970, 1, 1, 5, 57, 10)

In [254]:
from datetime import date
x=date(2022,10,28).isocalendar()
x
# it returns the week no and week day from begening of the year  ## weekno from ist january

datetime.IsoCalendarDate(year=2022, week=43, weekday=5)

### strftime()
Python Strftime Format
The strftime converts date (datetime) to a  date(string).

The syntax of strftime() method is...



Where format is the desired format of date string that user wants. Format is built using codes shown in the table below...

Code	Meaning

%a	Weekday as Sun, Mon

%A	Weekday as full name as Sunday, Monday

%w	Weekday as decimal no as 0,1,2...

%d	Day of month as 01,02

%b	Months as Jan, Feb

%B	Months as January, February

%m	Months as 01,02

%y	Year without century as 11,12,13

%Y	Year with century 2011,2012

%H	24 Hours clock from 00 to 23

%I	12 Hours clock from 01 to 12

%p	AM, PM

%M	Minutes from 00 to 59

%S	Seconds from 00 to 59

%f	Microseconds 6 decimal numbers

In [299]:
import datetime 
from datetime import datetime
now = datetime.now()
print(now)
print(type(now))

2024-05-21 14:51:53.305697
<class 'datetime.datetime'>

In [304]:
now.strftime("%y/%B/%d  %I:%M %p")

'24/May/21  02:51 PM'

In [305]:
now.strftime("%b/%y")

'May/24'

In [151]:
now.strftime("%Y/%B")

'2024/May'

In [152]:
now.strftime("%y-%b %I:%M:%p")

'24-May 10:57:AM'

In [95]:
a1=now.strftime("%y/%b/%d %H:%M:%S")
a1

'23/Apr/15 11:12:32'

In [96]:
type(a1)

str

In [ ]:
#extract month/day

In [306]:
df=pd.read_excel("D:/python_datascience/data sets/examples/catalog.xlsx")
df.head(2)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,2007-02-03 00:00:00,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...

In [157]:
df.dtypes

id                        int64
date                     object
time                     object
continent_code           object
country_name             object
country_code             object
state/province           object
population                int64
city/town                object
distance                float64
location_description     object
latitude                float64
longitude               float64
geolocation              object
hazard_type              object
landslide_type           object
landslide_size           object
trigger                  object
storm_name               object
injuries                float64
fatalities              float64
source_name              object
source_link              object
dtype: object

In [307]:
df["date"]=df["date"].fillna(df["date"].mode()[0])

In [308]:
df["date"]=pd.to_datetime(df["date"])

In [309]:
df["month/year"]=df['date'].dt.strftime('%b/%y')
df.head()

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link,month/year
0,34,2007-02-03,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html,Feb/07
1,42,2007-03-22,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...,Mar/07
2,56,2007-06-04,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...,Jun/07
3,59,2007-04-14,NaN,NaN,Canada,CA,Quebec,42786,ChÃ¢teauguay,2.98682,...,Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...,Apr/07
4,61,2007-04-15,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN,Apr/07